<div class="content">
<h1><%= @cocktail.name  %></h1>
<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"  %>
<br><br>
<p>List of ingredients & doses:</p>

<% Dose.where(cocktail_id: @cocktail.id.to_i).each do |dose| %>
<ul>
<li>
<%= dose.ingredient.name %>:
<%= dose.description %>
</li>
</ul>
<% end %>

<%= link_to "Delete this Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }  %>

<br><br>
<%= link_to "Cocktails page", root_path  %>
</div>




